<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border"><br>
        <form method="{{ method }}" action="{{ action }}">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <div class="controls">
              <input name="name" type="text" value="{{ location.name }}" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="lat" class="form-label">Lat</label>
            <div class="controls">
              <input name="lat" value="{{ location.lat }}" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="lng" class="form-label">Lng</label>
            <div class="controls">
              <input name="lng" value="{{ location.lng }}" class="form-control">
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-success btn-cons">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
