{% extends './shared/layout.html' %}

{% block content %}

<div class="row main-nav">

  <div class="col-sm-2">
    <a href="/locations">
      <div class="tiles green">
        <i class="fa fa-map-marker"></i>
        Locations
      </div>
    </a>
  </div>

  <div class="col-sm-2">
    <a href="">
      <div class="tiles blue">
        <i class="fa fa-user-md"></i>
        Users
      </div>
    </a>
  </div>



  <div class="col-sm-2">
    <a href="">
      <div class="tiles purple">
        <i class="fa fa-female"></i>
        Patients
      </div>
    </a>
  </div>


  <div class="col-sm-2">
    <a href="">
      <div class="tiles red">
        <i class="fa fa-flask"></i>
        Readings
      </div>
    </a>
  </div>


  <div class="col-sm-2">
    <a href="">
      <div class="tiles dark-blue">
        <i class="fa fa-bolt"></i>
        Actions
      </div>
    </a>
  </div>
</div>

{% endblock %}
